@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top, #0066ff, #0c4dc0, #103585, #0e1f4f, #05041e);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.github-logo {
    display: block;
    height: 50px;
}

.main-heading {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.user-form input {
    display: block;
    background-image: linear-gradient(to right, #0e0f5c, #262173, #3a348a, #4e48a2, #625dbb);
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 1rem;
    font-family: inherit;
    font-size: 1rem;
}

.user-form input::placeholder {
    color: #bbb;
}

.card {
    background-image: linear-gradient(to right, #0e0f5c, #262173, #3a348a, #4e48a2, #625dbb);    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
}

.avatar {
    border-radius: 50%;
    border: 10px solid #2a2a72;
    height: 150px;
}

.user-info {
    color: #eee;
}

.user-info h2 {
    align-items: center;
}

.user-info ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 1rem;
}

.user-info ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
}

.user-info ul li {
    font-size: 0.9rem;
}

#repos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start; 
    gap: 1rem;
}

.repo {
    color: #fff;
    background-color: #212a72;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
}

@media (max-width: 500px) {
    .card {
        flex-direction: column;
        align-items: center;
    }
}
